services:
  app:
    image: python:3.12-slim
    working_dir: /app
    volumes:
      - ./app:/app
      - ./.secrets:/app/.secrets
    env_file:
      - .env
    ports:
      - "8000:8000"
    command: >
      sh -c "pip install -r requirements.txt &&
             uvicorn src.main:app --host 0.0.0.0 --port 8000"
    depends_on:
      - db


  db:
    image: postgres:16
    environment:
      POSTGRES_USER: playlist
      POSTGRES_PASSWORD: playlist
      POSTGRES_DB: playlistdb
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:

